{% extends 'base.html' %}

{% block content %}

    <main class="px-3">
        <h1>Services</h1>
        <br>
        <h2>Technology Supplier</h2>
        <p class="lead">Authorized Lenovo Partner</p>
        <img src="/media/lenovo/lenovo_badge.png" class="lenovo-pic">
        <br>
        <br>
        <h2>PC & Mobile Repair</h2>
        <p class="lead">Lenovo, HP, and Dell Certified Technician</p>
        <img src="/media/welcome_page/broken-devices.jpg" class="broken-devices-pic">
        <br>
        <br>
        <h2>Web Application Development</h2>
        <p class="lead">Full Stack Developer</p>
        <img src="/media/welcome_page/code.jpg" class="code-pic">
        <br>
        <br>


    </main>

{% endblock %}
