{% extends 'base.html' %}

{% block content %}

    <main class="px-3">
    <h1>Services</h1>
        <div class="row">
            <div class="col-6 col-md-4">
              <h2>Technology Supplier</h2>
                <p class="lead">Authorized Lenovo Partner</p>
                <img src="/media/lenovo/lenovo_badge.png" class="lenovo-pic">
            </div>
            <div class="col-6 col-md-4">
              <h2>PC & Mobile Repair</h2>
                <p class="lead">Lenovo, HP, and Dell Certified Technician</p>
                <img src="/media/welcome_page/broken-devices.jpg" class="broken-devices-pic">
            </div>
            <div class="col-6 col-md-4">
              <h2>Web Application Development</h2>
                <p class="lead">Full Stack Developer</p>
                <img src="/media/welcome_page/code.jpg" class="code-pic">
            </div>
      </div>
    </main>

{% endblock %}
