{% load static %}
{% load custom_tags %}

<!--
*******************
  WEB and MOBILE APP DEVELOPMENT
*******************
-->
<section class="section-content section-bg2">
    <div class="about-info">
        <div class="container">
            <div class="row section-heading-wrap">
                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">Development Services</h2>
                    <p class="section-subheading">Web & Mobile Application Development</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <div class="heading">Website Development</div>
                    <div class="subheading">
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur. But I must explain to you how all this
                            mistaken
                            idea of denouncing pleasure and praising pain was born and I will give you a complete
                            account of the system.</p><br>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati
                            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
                            id
                            est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <img src="{% static 'img/web-dev-service.jpg' %}" alt="" class="img-about img-responsive"
                         id="app-dev-photo">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-content section-bg2">
    <div class="about-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <div class="heading">Mobile Development</div>
                    <div class="subheading">
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur. But I must explain to you how all this
                            mistaken
                            idea of denouncing pleasure and praising pain was born and I will give you a complete
                            account of the system.</p><br>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati
                            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
                            id
                            est laborum et dolorum fuga.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <img src="{% static 'img/mobile-dev.png' %}" alt="" class="img-about img-responsive"
                         id="app-dev-photo">

                </div>
            </div>
        </div>
    </div>
</section>

