{% load static %}
{% load custom_tags %}

<!--
*******************
  WEB and MOBILE APP DEVELOPMENT
*******************
-->
<section class="section-content section-bg2">
    <div class="about-info">
        <div class="container">
            <div class="row section-heading-wrap">
                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">Development Services</h2>
                    <p class="section-subheading">Web & Mobile Application Development</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <div class="heading">Website Development</div>
                    <div class="subheading">
                        <p>We can create a custom and modern web application for your business
                            using the latest technology and tools such as Python Django, Javascript, and many more..</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <img src="{% static 'img/web-dev-service.jpg' %}" alt="" class="img-about img-responsive"
                         id="app-dev-photo">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-content section-bg2">
    <div class="about-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <div class="heading">Mobile Development</div>
                    <div class="subheading">
                        <p>We can create custom apps for mobile devices such as iPhone and Android.</p><br>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <img src="{% static 'img/mobile-dev.png' %}" alt="" class="img-about img-responsive"
                         id="app-dev-photo">

                </div>
            </div>
        </div>
    </div>
</section>

