{% load static %}
{% load custom_tags %}

<!--
    *******************
        FEATURES
    *******************
    -->
<section class="section-content section-bg1">
    <div class="h-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">Why Choose Tech Tune Up?</h2>
                    <p class="section-subheading">Every job big or small is guaranteed to be top quality.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="wrap-service">
                        <i class="fa fa-tachometer"></i>
                        <div class="heading">Quick Repair Process</div>
                        <div class="text-info">
                            Common or simple repairs generally take 1-3 days. More complicated repairs could take up
                            to 14 days.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="wrap-service">
                        <i class="fa fa-calendar"></i>
                        <div class="heading">60 Day Warranty</div>
                        <div class="text-info">
                            All repair jobs are backed by a 60-day warranty should the same issue occur.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 clear-sm">
                    <div class="wrap-service">
                        <i class="fa fa-support"></i>
                        <div class="heading">Support 7 days a week</div>
                        <div class="text-info">
                            Need something repaired on a Sunday? That's ok. <i class="fa fa-check"></i>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 clear-md">
                    <div class="wrap-service">
                        <i class="fa fa-home"></i>
                        <div class="heading">Repairs Done at Your Location</div>
                        <div class="text-info">
                            We can come to your location and either repair devices in our vehicles or in your home
                            or office.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="wrap-service">
                        <i class="fa fa-money"></i>
                        <div class="heading">Quality Service Guarantee</div>
                        <div class="text-info">
                            If you are not happy with our service, we will make it right. The devices we repair are
                            thoroughly tested after each job.
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="wrap-service">
                        <i class="fa fa-stethoscope"></i>
                        <div class="heading">Free Diagnostics</div>
                        <div class="text-info">
                            Anyone can get a free 15-minute diagnostic. If we find that your device still has
                            manufacturers warranty, or a third-party protection plan, we can assist you in filing your
                            claim.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>