{% load static %}

{% load custom_tags %}
<!--
    *******************
        TOP FOOTER
    *******************
-->
<div class="top-footer-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-feature-inner">
                    <div class="feature-top-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-map-o"></i>
                            </div>
                            <div class="media-body">
                                <span>Location</span>Wake County, North Carolina 27571
                            </div>
                        </div>
                    </div>
                    <div class="feature-top-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-volume-control-phone"></i>
                            </div>
                            <div class="media-body">
                                <span>Call Us</span> <a href="callto:+19192836658">(919) 283-6658</a>
                            </div>
                        </div>
                    </div>
                    <div class="feature-top-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-envelope-open-o"></i>
                            </div>
                            <div class="media-body">
                                <span>Email Us</span>
                                <a href="mailto:ben@techtuneup.org">ben@techtuneup.org</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    *******************
      	  FOOTER
    *******************
    -->
<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="heading">Services</div>
                    <ul class="footer-menu classic">
                        <li class="menu-item text-white">PC & Laptop Repair</li>
                        <li class="menu-item text-white">Website Development</li>
                        <li class="menu-item text-white">Technology Supplier & Service</li>
                        <li class="menu-item text-white">Mobile Device Repair</li>
                        <li class="menu-item text-white">Gaming Console Repair</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="heading">Support</div>
                    <ul class="footer-menu classic">
                        <li class="menu-item"><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li class="menu-item"><a href="{% url 'about' %}">About Us</a></li>
                        <li class="menu-item"><a href="{% url 'faq' %}">Faq</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6" style="color: whitesmoke">
                    <a><img id="navbar-logo" src="{% static 'img/LOGO_V1_DARK_TRANSPARENT.png' %}" alt="tech tune up logo"></a>
                    <div class="copyright">©{% current_year %} Tech Tune Up<br>All Rights Reserved.
                    </div>
                    <div class="social">Stay Connected</div>
                    <div class="soc-icons">
                        <a href="https://www.facebook.com/TechTuneUpNC" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/TechTuneUp2" target="_blank"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>