{% load static %}

{% load custom_tags %}
<!--
    *******************
        TOP FOOTER
    *******************
-->
<div class="top-footer-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-feature-inner">
                    <div class="feature-top-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-map-o"></i>
                            </div>
                            <div class="media-body">
                                <span>Location</span>1008 Grand Ridge Dr, Rolesville NC 27571
                            </div>
                        </div>
                    </div>
                    <div class="feature-top-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-volume-control-phone"></i>
                            </div>
                            <div class="media-body">
                                <span>Call Us</span> <a href="callto:+19192836658">(919) 283-6658</a>
                            </div>
                        </div>
                    </div>
                    <div class="feature-top-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-envelope-open-o"></i>
                            </div>
                            <div class="media-body">
                                <span>Email Us</span>
                                <a href="mailto:ben@techtuneup.org">ben@techtuneup.org</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    *******************
      	  FOOTER
    *******************
    -->
<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="heading">Services</div>
                    <ul class="footer-menu classic">
                        <li class="menu-item"><a href="pc-imac-repair.html">PC & Mac Repair</a></li>
                        <li class="menu-item"><a href="laptop-repair.html">Laptop Repair</a></li>
                        <li class="menu-item"><a href="tablet-repair.html">Tablet Repair</a></li>
                        <li class="menu-item"><a href="smartphone-repair.html">Smartphone Repair</a></li>
                        <li class="menu-item"><a href="macbook-repair.html">Macbook Repair</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="heading">Support</div>
                    <ul class="footer-menu classic">
                        <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                        <li class="menu-item"><a href="about.html">About Us</a></li>
                        <li class="menu-item"><a href="team.html">Our Team</a></li>
                        <li class="menu-item"><a href="pricing-tables.html">Pricing Tables</a></li>
                        <li class="menu-item"><a href="faq.html">Faq</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="heading">My Tech Tune Up</div>
                    <ul class="footer-menu classic">
                        <li class="menu-item"><a href="#" data-toggle="modal" data-target="#mylogin">Login</a></li>
                        <li class="menu-item"><a href="contact.html">Questions?</a></li>
                        <li class="menu-item"><a href="countdown.html">Countdown</a></li>
                        <li class="menu-item"><a href="elements.html">Elements</a></li>
                        <li class="menu-item"><a href="404.html">Page 404</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6" style="color: whitesmoke">
                    <a><img src="{% static 'img/techtuneup_logo.png' %}" alt="logo"></a>
                    <div class="copyright">©{% current_year %}{{ current_year }} Tech Tune Up</div>
                    <div class="copyright">All Rights Reserved.</div>
                    <div class="social">Stay Connected</div>
                    <div class="soc-icons">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subcribe news">
        <div class="container">
            <form action="#" class="form">
                <div class="row">
                    <div class="col-4">
                        <span class="">Get The Newsletter</span>
                        <p>Subscribe to our newsletter to receive special deals and updates.</p>
                    </div>
                    <div class="col-8">
                        <input type="email" name="email" placeholder="Enter your email address" class="email-input">
                        <input type="submit" value="SUBSCRIBE" class="btn btn-default-alt-white">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid no-padding">
        <div class="row">
            <div class="col-sm-12">
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="footer-menu">
                                    <li class="menu-item"><a href="#">Legal</a></li>
                                    <li class="menu-item"><a href="#">Sitemap</a></li>
                                    <li class="menu-item"><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="payment-list">
                                    <li>
                                        <p>Payments We Accept</p>
                                    </li>
                                    <li><i class="fa fa-cc-paypal"></i></li>
                                    <li><i class="fa fa-cc-visa"></i></li>
                                    <li><i class="fa fa-cc-mastercard"></i></li>
                                    <li><i class="fa fa-credit-card"></i></li>
                                    <li><i class="fa fa-cc-discover"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>