{# Load the tag library #}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}

<!-- HEAD -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta property="og:url" content="https://www.techtuneup.org/">
<meta property="og:site_name" content="TechTuneUp">
<meta property="og:title" content="Tech Tune Up">
<meta property="og:description"
      content="Tech Tune Up: Serving all of your technical needs. PC and Phone Repair, Technology Supply, Web and Mobile Development.">
<meta property="og:image"
      content="https://www.techtuneup.org/static/img/phonedoctor.png">
<meta property="og:image:height" content="630">
<meta property="og:image:width" content="1200">

{# TechTuneUp template files #}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'css/delicons.css' %}" rel="stylesheet">
<link href="{% static 'css/open-sans.css' %}" rel="stylesheet">
<link href="{% static 'css/lato.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'css/idangerous.swiper.css' %}" rel="stylesheet">
<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'css/slick.css' %}" rel="stylesheet">
