{% load static %}

<!--
    *******************
        INCLUDED SERVICES
    *******************
    -->
<section class="section-content section-bg1">
    <div class="container-fluid no-padding">
        <div class="row no-margin">
            <div class="col-sm-12 no-padding">
                <div class="section-offer img-bg services">
                    <div class="container">
                        <div class="row section-heading-wrap">
                            <div class="col-md-12 col-sm-12 text-center">
                                <h2 class="section-heading">{{ top_banner_name }}
                                    Included Services</h2>
                                <p class="section-subheading">We Guarantee These Services For Every Job.</p>
                            </div>
                        </div>
                        <div class="tabs offers-tabs">
                            <div class="tabs-header">
                                <ul>
                                    <li class="active">Free Diagnostics</li>
                                    <li class="">Support 24x7x365</li>
                                    <li class="">60 Day Warranty</li>
                                    <li class="">Honesty & Quality</li>
                                </ul>
                            </div>
                            <div class="tabs-content">
                                <div class="tabs-item active">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <img src="{% static 'img/diagnostics.jpg' %}" alt="offers"
                                                 class="img-responsive">
                                        </div>

                                        <div class="col-md-8 col-sm-6">
                                            <div class="heading">
                                                Free Diagnostics
                                            </div>
                                            <div class="info">
                                                A 15-minute free diagnostic is included. If any replacement parts
                                                are needed, we will always consult with you prior to any purchases.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabs-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <img src="{% static 'img/laptop-repair-03.jpg' %}" alt="offers"
                                                 class="img-responsive">
                                        </div>
                                        <div class="col-md-8 col-sm-6">
                                            <div class="heading">
                                                Support 24x7x365
                                            </div>
                                            <div class="info">
                                                We are available any time, any day.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabs-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <img src="{% static 'img/warranty-thumbs-up.jpg' %}" alt="offers"
                                                 class="img-responsive">
                                        </div>
                                        <div class="col-md-8 col-sm-6">
                                            <div class="heading">
                                                60 Day Warranty
                                            </div>
                                            <div class="info">
                                                If your device experiences the same issue after we work on it, we
                                                will make it right. Replacement parts also generally come with a
                                                1-year manufacturer's warranty.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabs-item">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <img src="{% static 'img/iphone-repair-01.jpg' %}" alt="offers"
                                                 class="img-responsive">
                                        </div>
                                        <div class="col-md-8 col-sm-6">
                                            <div class="heading">
                                                Honesty & Quality
                                            </div>
                                            <div class="info">
                                                We will never take advantage or oversell you on anything. We will
                                                always perform at the highest quality.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>