{% load static %}

<!--
*******************
NAV MENU
*******************
-->
<div class="menu-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'index' %}"><img src="{% static 'img/navbar-logo-trans-black.png' %}" alt="logo"
                                                 class="logo-menu"></a>
            </div>
            <div class="col-md-9 no-padding">
                <nav class="nav-menu">
                    <button class="menu-toggle">
                        <span class="icon"></span>
                        <span class="icon"></span>
                        <span class="icon"></span>
                    </button>
                    <ul class="main-menu">
                        <li class="menu-item menu-item-has-children">
                            <a href="{% url 'all_services' %}">Services</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'repair_services' %}">Repair Services</a></li>
                                <li class="menu-item"><a href="{% url 'app_dev' %}">Web and Mobile Application
                                    Development</a></li>
                                <li class="menu-item"><a href="{% url 'tech_services' %}"> Other Tech Services</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="{% url 'about' %}">About</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'faq' %}">Faq</a></li>
                            </ul>
                        </li>
                       {% comment %}
                        <li class="menu-item menu-item-has-children">
                            <a href="#">My Account</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'register' %}">Register</a></li>
                                <li class="menu-item"><a href="{% url 'login' %}">Login</a></li>
                            </ul>
                        </li>
                       {% endcomment %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--
*******************
NAV MENU MOBILE
*******************
-->
<div class="menu-wrap mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-3 no-padding">
                <a href="{% url 'index' %}"><img src="{% static 'img/techtuneup_logo.png' %}" alt="logo"
                                                 class="logo-menu"></a>
            </div>
            <div class="col-md-9 no-padding">
                <nav class="nav-menu">
                    <button id="nav-toggle" class="menu-toggle">
                        <span class="icon"></span>
                        <span class="icon"></span>
                        <span class="icon"></span>
                    </button>
                    <ul class="main-menu">

                        <li class="menu-item menu-item-has-children">
                            <a>Services</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="pc-imac-repair.html">PC & Laptop Repair</a></li>
                                <li class="menu-item"><a href="laptop-repair.html">Mobile Device Repair</a></li>
                                <li class="menu-item"><a href="laptop-repair.html">Gaming Console Repair</a></li>
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a>Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'pricing_tables' %}">Pricing Tables</a></li>
                                <li class="menu-item"><a href="{% url 'about' %}"> About Us</a></li>
                                <li class="menu-item"><a href="{% url 'team' %}">Our Team</a></li>
                                <li class="menu-item"><a href="{% url 'faq' %}">Faq</a></li>
                                <li class="menu-item"><a href="{% url 'register' %}">Register</a></li>
                                <li class="menu-item"><a href="#" data-toggle="modal"
                                                         data-target="{% url 'login' %}">Login</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-last"><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>