{% load static %}

<!--
*******************
NAV MENU
*******************
-->
<div class="menu-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'index' %}"><img id="navbar-logo" src="{% static 'img/icon_logo.png' %}" alt="Tech Tune Up Logo"></a>
            </div>
            <div class="col-md-9 no-padding">
                <nav class="nav-menu">
                    <button class="menu-toggle">
                        <span class="icon"></span>
                        <span class="icon"></span>
                        <span class="icon"></span>
                    </button>
                    <ul class="main-menu">
                        <li class="menu-item menu-item-has-children">
                            <a href="{% url 'services' %}">Services</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'repair_services' %}"
                                                         style="text-transform: lowercase;">Repair Services</a></li>
                                <li class="menu-item"><a href="{% url 'app_dev' %}" style="text-transform: lowercase;">Web
                                    and Mobile Application
                                    Development</a></li>
                                <li class="menu-item"><a href="{% url 'tech_services' %}"
                                                         style="text-transform: lowercase;"> Other Tech Services</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="{% url 'about' %}">About</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'faq' %}"
                                                         style="text-transform: lowercase;">Faq</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--
*******************
NAV MENU MOBILE
*******************
-->
<div class="menu-wrap mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-3 no-padding">
                <a href="{% url 'index' %}"><img id="nav-bar-mobile-logo-img" src="{% static 'img/icon_logo.png' %}"
                                                 class="logo-menu" alt="">
                </a>
            </div>
            <div class="col-md-9 no-padding">
                <nav class="nav-menu">
                    <button id="nav-toggle" class="menu-toggle">
                        <span class="icon"></span>
                        <span class="icon"></span>
                        <span class="icon"></span>
                    </button>
                    <ul class="main-menu">

                        <li class="menu-item menu-item-has-children">
                            <a>Services</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'repair_services' %}"
                                                         style="text-transform: lowercase;">Repair</a></li>
                                <li class="menu-item"><a href="{% url 'app_dev' %}" style="text-transform: lowercase;">Web
                                    and Mobile Application
                                    Development</a></li>
                                <li class="menu-item"><a href="{% url 'tech_services' %}"
                                                         style="text-transform: lowercase;"> Other Tech Services</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-last"><a href="{% url 'about' %}">About Us</a></li>
                        <li class="menu-item menu-last"><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>