{% load static %}
<!--
    *******************
        NAV MENU
    *******************
    -->
<div class="menu-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="index.html"><img src="{% static 'img/techtuneup_logo.png' %}" alt="logo" class="logo-menu"></a>
            </div>
            <div class="col-md-9 no-padding">
                <nav class="nav-menu">
                    <button class="menu-toggle">
                        <span class="icon"></span>
                        <span class="icon"></span>
                        <span class="icon"></span>
                    </button>
                    <ul class="main-menu">
                        <li class="menu-item menu-item-has-children">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'pricing_tables' %}">Pricing Tables</a></li>
                                <li class="menu-item"><a href="{% url 'about' %}"> About Us</a></li>
                                <li class="menu-item"><a href="{% url 'team' %}">Our Team</a></li>
                                <li class="menu-item"><a href="{% url 'faq' %}">Faq</a></li>
                                <li class="menu-item"><a href="{% url 'register' %}">Register</a></li>
                                <li class="menu-item"><a href="#" data-toggle="modal"
                                                         data-target="#mylogin">Login</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children menu-last"><a href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--
*******************
  NAV MENU MOBILE
*******************
-->
<div class="menu-wrap mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-3 no-padding">
                <a href="index.html"><img src="{% static 'img/techtuneup_logo.png' %}" alt="logo" class="logo-menu"></a>
            </div>
            <div class="col-md-9 no-padding">
                <nav class="nav-menu">
                    <button id="nav-toggle" class="menu-toggle">
                        <span class="icon"></span>
                        <span class="icon"></span>
                        <span class="icon"></span>
                    </button>
                    <ul class="main-menu">

                        <li class="menu-item menu-item-has-children">
                            <a>Services</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="pc-imac-repair.html">PC & iMac Repair</a></li>
                                <li class="menu-item"><a href="laptop-repair.html">Laptop Repair</a></li>
                                <li class="menu-item"><a href="tablet-repair.html">Tablet Repair</a></li>
                                <li class="menu-item"><a href="smartphone-repair.html">Smartphone Repair</a></li>
                                <li class="menu-item"><a href="macbook-repair.html">Macbook Repair</a></li>
                                <li class="menu-item"><a href="ipad-repair.html">iPad Repair</a></li>
                                <li class="menu-item"><a href="iphone-repair.html">iPhone Repair</a></li>
                                <li class="menu-item"><a href="all-services-repair.html">All Services Repair</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a>Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'pricing_tables' %}">Pricing Tables</a></li>
                                <li class="menu-item"><a href="about.html"> About Us</a></li>
                                <li class="menu-item"><a href="team.html">Our Team</a></li>
                                <li class="menu-item"><a href="faq.html">Faq</a></li>
                                <li class="menu-item"><a href="register.html">Register</a></li>
                                <li class="menu-item"><a href="#" data-toggle="modal"
                                                         data-target="#mylogin">Login</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-last"><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>