{% load static %}

<!--
   *******************
     POPULAR PLANS
   *******************
   -->
<section class="section-content">
    <div class="best-plans">
        <div class="container">
            <div class="row section-heading-wrap">
                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">{{ top_banner_name }} Popular Plans</h2>
                    <p class="section-subheading">Here are the most common plans chosen by our users.</p>
                </div>
            </div>
            <div class="wrapper-h-plans bg-info-t bg-grade">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="h-plans-info">
                            <div class="ribbon-wrapper">
                                <div class="ribbon">-12% Off</div>
                            </div>
                            <div class="header-wrap">
                                <div class="price">
                                    <span class="symbol">$ </span>78.<span class="dec">00</span>
                                    <span class="title"><span class="line">/</span> <span
                                            class="title-price">mo</span></span>
                                </div>
                                <div class="heading">USE COUPON "IRS"</div>
                                <a href="#" class="btn btn-block btn-default">Get Repair</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="section-plans">
                            <div class="heading">{{ top_banner_name }} Service Plans</div>
                            <div class="desc">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat
                                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                        <div class="plans-detail">
                            <ul class="list">
                                <li>
                                    <i class="fa fa-check"></i>
                                    <span class="number">$ </span>
                                    <span class="info">LCD Replacement</span>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <span class="number">$15</span>
                                    <span class="info">Water Damaged</span>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <span class="number">$25</span>
                                    <span class="info">Charge Repair</span>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <span class="number">$18</span>
                                    <span class="info">Memory Upgrade</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>