{% load static %}
{% load custom_tags %}

<!--
******************
  ALL TECHNOLOGY SERVICES (NON REPAIR)
******************
-->

<section class="section-content">
    <div class="history-section">
        <div class="container">
            <div class="row section-heading-wrap">
                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">Technology Services</h2>
                    <p class="section-subheading">Supply, Setup, and Installation</p>
                </div>
            </div>
            <div class="history-separate first">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="img-wrap">
                            <img src="{% static 'img/lenovo_reseller.png' %}" alt="photo"
                                 class="img img-responsive">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="wrappper">
                            <h4 class="title">
                                Technology Supply
                            </h4>
                            <div class="desc">
                                Does your company or institution need technology for your staff and clients? I would love to assist.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="history-separate first">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="img-wrap">
                            <img src="{% static 'img/technology-cables.jpg' %}" alt="photo"
                                 class="img img-responsive">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wrappper">
                            <h4 class="title">
                                Setup and Installation
                            </h4>
                            <div class="desc">
                                Do you need a room setup for a presentation?
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>