{% extends 'base.html' %}
{% load static %}

<!--
******************
      SECTION 404
******************
-->
{% block content %}
    {% include 'includes/top-banner.html' %}
    <section class="section-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="section-404">
                        <div class="title"><i class="fa fa-bomb"></i><i class="fa fa-bomb"></i>404<br><span>This page cannot be found.</span>
                        </div>
                        <div class="subtitle"><a href="{% url 'index' %}">Return Home</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
