{% extends 'base.html' %}

{% block content %}

    {% include 'includes/top_banner.html' %}
    <!--
    *******************
          ABOUT US
    *******************
    -->
    {% load static %}

    <section class="section-content section-bg2">
        <div class="about-info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <div class="heading">About Us</div>
                        <div class="subheading">
                            <p>Tech Tune Up, based out of Wake County, NC specializes in various technology services
                                such as pc repair, web development and audio/visual.</p><br>
                            <p>As an official re-seller for several technology manufacturers, we can help supply your
                                business with the technology
                                required, and be there for you for any repair or maintenance needs.</p>
                            <p>In addition to physical technology, we also create custom web applications and mobile
                                apps for your business.</p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <img src="{% static 'img/about-tech.jpg' %}" id="about-image" alt="about-technology-image" class="img-about img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
    *******************
      TEAM STYLE 03
    *******************
    -->
    <section class="section-content">
        <div class="team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading">Meet the Team</h2>
                        <p class="section-subheading"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="wrapper">
                            <div class="img-section">
                                <img src="{% static 'img/ben-headshot.jpg' %}" alt="photo-of-owner"
                                     class="img-responsive" id="ben-headshot-photo">
                                <div class="soc-icons-wrap">
                                    <div class="icons">
                                        <a href=""><i class="fa fa-github"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-info">
                                <h3 class="heading">Ben</h3>
                                <div class="subheading">Technician & Developer</div>
                                <div class="desc">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="wrapper">
                            <div class="img-section">
                                <img src="{% static 'img/delia-team.jpg' %}" alt="photo-of-owner-2"
                                     class="img-responsive">
                                <div class="soc-icons-wrap">
                                    <div class="icons">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-info">
                                <h3 class="heading">Delia</h3>
                                <div class="subheading">Sales & Marketing</div>
                                <div class="desc">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

