<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/head.html' %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>


<body>
{% include 'includes/fb-chat.html' %}

{% comment %}
{% include 'includes/spinner.html' %}
{% endcomment %}
{% include 'includes/navbar.html' %}

{% include 'includes/main_header.html' %}


{% block content %}
{% endblock %}

{% include 'includes/footer.html' %}
<a href="#0" class="cd-top"></a>

{% include 'includes/javascript.html' %}


</body>
</html>