<!--
    *******************
      	CLIENTS
    *******************
    -->
<section class="section-content">
    <div class="clients-h">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="group-wrap">
                        <div class="wrapper wrap-info active">
                            <div class="testimonial">
                                <h3 class="heading">Gavin White</h3>
                                <div class="subheading">♡ happy client</div>
                                <div class="text">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur. <br class="hidden-xs hidden-sm"> Excepteur sint occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </div>
                            </div>
                        </div>
                        <div class="wrapper wrap-info">
                            <div class="testimonial">
                                <h3 class="heading">Matt Fan</h3>
                                <div class="subheading">♡ happy client</div>
                                <div class="text">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur. <br class="hidden-xs hidden-sm"> Excepteur sint occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </div>
                            </div>
                        </div>
                        <div class="wrapper wrap-info">
                            <div class="testimonial">
                                <h3 class="heading">Max Black</h3>
                                <div class="subheading">♡ happy client</div>
                                <div class="text">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur. <br class="hidden-xs hidden-sm">Excepteur sint occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clients-slider">
                        <div class="slider-container slider-filter">
                            <div class="slider-wrap">
                                <div class="swiper-container main-slider testimonials-slider" data-autoplay="0"
                                     data-touch="0" data-mouse="0" data-slides-per-view="responsive" data-loop="0"
                                     data-speed="1200" data-mode="horizontal" data-xs-slides="3" data-sm-slides="3"
                                     data-md-slides="3" data-lg-slides="3" data-center="1">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide img-person default-active">
                                            <img src="{% static 'img/client-01.jpg' %}" alt="photo"
                                                 class="img-responsive">
                                        </div>
                                        <div class="swiper-slide img-person">
                                            <img src="{% static 'img/client-03.jpg' %}" alt="photo"
                                                 class="img-responsive">
                                        </div>
                                        <div class="swiper-slide img-person">
                                            <img src="{% static 'img/client-02.jpg' %}" alt="photo"
                                                 class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="pagination hidden horizontal-mode pagination-index"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>