{% extends 'base.html' %}

{% block content %}
    *******************
    TOP BANNER
    *******************
    -->
    <div class="top-header overlay img-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="wrapper">
                        <div class="heading">Frequently Asked Questions</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    *******************
             FAQ
    *******************
    -->
    <section class="section-content section-bg1">
        <div class="faq">
            <div class="container">
                <div class="row section-heading-wrap">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading">Need Help? Maybe someone has had a similar issue.</h2>
                        <p class="section-subheading">Check out these common questions.</p>
                    </div>
                </div>
                <div class="tabs offers-tabs">
                    <div class="tabs-item active">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="accordion faq">
                                    <div class="panel-wrap">
                                        <h3 class="panel-title">
                                            <span class="square"><i class="fa fa-wrench"></i></span>
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                            My device won't turn on, or there is some other problem! I have either
                                            broken it or spilled liquid on it.
                                            What do I do?
                                        </h3>
                                        <div class="panel-collapse">
                                            <div class="wrapper-collapse">
                                                <div class="info">
                                                    <ul class="list">
                                                        <li>
                                                            <p>Generally, physical or liquid damage related repairs are
                                                                not covered under warranty. However, it is common to
                                                                purchase additional protection plans such as "Apple
                                                                Care", or "Accidental Damage Protection" or other type
                                                                of insurance when you initially purchased the device. If
                                                                you have purchased something like this, please continue
                                                                with their repair process. If you don't know how to do
                                                                this, I am happy to assist.</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-wrap">
                                        <h3 class="panel-title">
                                            <span class="square"><i class="fa fa-laptop"></i></span>
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                            My device won't turn on, or there is some other problem, but I have NOT
                                            broken it or spilled liquid on it.
                                            What do I do?
                                        </h3>
                                        <div class="panel-collapse">
                                            <div class="wrapper-collapse">
                                                <div class="info">
                                                    <ul class="list">
                                                        <li>
                                                            <p>The first thing to do is check and see if your device is
                                                                still covered under manufacturer's warranty. If it is
                                                                still under warranty, please continue with the repair
                                                                process of your device's manufacturer.</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-wrap">
                                        <h3 class="panel-title">
                                            <span class="square"><i class="fa fa-exclamation-triangle"></i></span>
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                            I think I have a virus?  What should I do?
                                        </h3>
                                        <div class="panel-collapse">
                                            <div class="wrapper-collapse">
                                                <div class="info">
                                                    <ul class="list">
                                                        <li>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                                sed
                                                                do eiusmod tempor incididunt ut labore et dolore magna
                                                                aliqua.</p>
                                                            <p>Excepteur sint occaecat cupidatat non proident, sunt in
                                                                culpa
                                                                qui officia deserunt mollit anim id est laborum.</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-wrap">
                                        <h3 class="panel-title">
                                            <span class="square"><i class="fa fa-server"></i></span>
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                            Nunc tortor nisi, interdum in?
                                        </h3>
                                        <div class="panel-collapse">
                                            <div class="wrapper-collapse">
                                                <div class="info">
                                                    <ul class="list">
                                                        <li>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                                sed
                                                                do eiusmod tempor incididunt ut labore et dolore magna
                                                                aliqua.</p>
                                                            <p>Excepteur sint occaecat cupidatat non proident, sunt in
                                                                culpa
                                                                qui officia deserunt mollit anim id est laborum.</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-item">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="accordion faq">
                                    <div class="panel-wrap">
                                        <h3 class="panel-title">
                                            <span class="square"><i class="fa fa-diamond"></i></span>
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                            Etiam sit amet pretium?
                                        </h3>
                                        <div class="panel-collapse">
                                            <div class="wrapper-collapse">
                                                <div class="info">
                                                    <ul class="list">
                                                        <li>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                                sed
                                                                do eiusmod tempor incididunt ut labore et dolore magna
                                                                aliqua.</p>
                                                            <p>Excepteur sint occaecat cupidatat non proident, sunt in
                                                                culpa
                                                                qui officia deserunt mollit anim id est laborum.</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-wrap">
                                        <h3 class="panel-title">
                                            <span class="square"><i class="fa fa-users"></i></span>
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                            Aliquam eleifend a est?
                                        </h3>
                                        <div class="panel-collapse">
                                            <div class="wrapper-collapse">
                                                <div class="info">
                                                    <ul class="list">
                                                        <li>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                                sed
                                                                do eiusmod tempor incididunt ut labore et dolore magna
                                                                aliqua.</p>
                                                            <p>Excepteur sint occaecat cupidatat non proident, sunt in
                                                                culpa
                                                                qui officia deserunt mollit anim id est laborum.</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-item">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="accordion faq">
                                    <div class="panel-wrap">
                                        <h3 class="panel-title">
                                            <span class="square"><i class="fa fa-diamond"></i></span>
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                            Etiam sit amet pretium?
                                        </h3>
                                        <div class="panel-collapse">
                                            <div class="wrapper-collapse">
                                                <div class="info">
                                                    <ul class="list">
                                                        <li>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                                sed
                                                                do eiusmod tempor incididunt ut labore et dolore magna
                                                                aliqua.</p>
                                                            <p>Excepteur sint occaecat cupidatat non proident, sunt in
                                                                culpa
                                                                qui officia deserunt mollit anim id est laborum.</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-wrap">
                                        <h3 class="panel-title">
                                            <span class="square"><i class="fa fa-users"></i></span>
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                            Aliquam eleifend a est?
                                        </h3>
                                        <div class="panel-collapse">
                                            <div class="wrapper-collapse">
                                                <div class="info">
                                                    <ul class="list">
                                                        <li>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                                sed
                                                                do eiusmod tempor incididunt ut labore et dolore magna
                                                                aliqua.</p>
                                                            <p>Excepteur sint occaecat cupidatat non proident, sunt in
                                                                culpa
                                                                qui officia deserunt mollit anim id est laborum.</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-wrap">
                                        <h3 class="panel-title">
                                            <span class="square"><i class="fa fa-cloud"></i></span>
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                            Etiam sit amet pretium?
                                        </h3>
                                        <div class="panel-collapse">
                                            <div class="wrapper-collapse">
                                                <div class="info">
                                                    <ul class="list">
                                                        <li>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                                sed
                                                                do eiusmod tempor incididunt ut labore et dolore magna
                                                                aliqua.</p>
                                                            <p>Excepteur sint occaecat cupidatat non proident, sunt in
                                                                culpa
                                                                qui officia deserunt mollit anim id est laborum.</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}