{% extends 'base.html' %}

{% block content %}
    <!-- 
    *******************
          SLIDER  
    *******************
    -->
    <div id="owl-demo" class="owl-carousel">
        <div class="full overlay item1">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="top-banner modern">
                        <div class="container">
                            <div class="banner-wrap">
                                <h1 class="heading">Best Advanced Repair</h1>
                                <h3 class="subheading left">Fast, secure and confidential. Get your data back and repair
                                    your device</h3>
                            </div>
                            <a href="all-services-repair.html" class="btn btn-default-alt-yellow">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full overlay item2">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="top-banner modern">
                        <div class="container">
                            <div class="banner-wrap">
                                <h1 class="heading">Repair Any Devices</h1>
                                <h3 class="subheading left">Support and repair any devices including computers</h3>
                            </div>
                            <a href="{% url 'repair_services' %}" class="btn btn-default-alt-yellow">View Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 
    *******************
        SUPPORT BAR   
    *******************
    -->
    <div class="support-bar home">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <p>Support 24x7x365</p>
                    <div class="title">Do you need a support or repair your device?</div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <button class="btn btn-block btn-default-alt-white">Contact us</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 
    *******************
        SERVICES  
    ******************* 
    -->
    <section class="section-content">
        <div class="services classic">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading">Services That We Offer</h2>
                        <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            <div class="service-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-section">
                                <i class="fa fa-mobile"></i>
                                <div class="title">IPHONE REPAIR</div>
                                <div class="subtitle">
                                    Excepteur sint occaecat cupidatat non proident
                                </div>
                                <a href="" class="link btn btn-block btn-primary">read more</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-section">
                                <i class="fa fa-tablet"></i>
                                <div class="title">TABLET REPAIR</div>
                                <div class="subtitle">
                                    Duis aute irure dolor in reprehenderit in voluptate velit
                                </div>
                                <a href="" class="link btn btn-block btn-primary">read more</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-section">
                                <i class="fa fa-laptop"></i>
                                <div class="title">LAPTOP REPAIR</div>
                                <div class="subtitle">
                                    Excepteur sint occaecat cupidatat non proident
                                </div>
                                <a href="" class="link btn btn-block btn-primary">read more</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-section">
                                <i class="fa fa-desktop"></i>
                                <div class="title">COMPUTERS REPAIR</div>
                                <div class="subtitle">
                                    Duis aute irure dolor in reprehenderit in voluptate velit
                                </div>
                                <a href="" class="link btn btn-block btn-primary">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    *******************
        FEATURES 
    *******************
    -->
    <section class="section-content section-bg1">
        <div class="h-services">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading">Included Services</h2>
                        <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="wrap-service">
                            <i class="fa fa-tachometer"></i>
                            <div class="heading">Quick Repair Process</div>
                            <div class="text-info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="wrap-service">
                            <i class="fa fa-calendar"></i>
                            <div class="heading">60 Day Warranty</div>
                            <div class="text-info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 clear-sm">
                        <div class="wrap-service">
                            <i class="fa fa-support"></i>
                            <div class="heading">Support 27x7x365</div>
                            <div class="text-info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 clear-md">
                        <div class="wrap-service">
                            <i class="fa fa-home"></i>
                            <div class="heading">We Sent To Home</div>
                            <div class="text-info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="wrap-service">
                            <i class="fa fa-money"></i>
                            <div class="heading">Low Price Guarantee</div>
                            <div class="text-info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="wrap-service">
                            <i class="fa fa-stethoscope"></i>
                            <div class="heading">Free Diagnostics</div>
                            <div class="text-info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    *******************
      PRICING TABLES
    *******************
    -->
    <section class="section-content">
        <div class="slick">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading">Our Basic Plans</h2>
                        <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            <div class="center slider">
                <div class="plan-container">
                    <div class="wrapper">
                        <div class="title">Computer Repair</div>
                        <div class="period">windows</div>
                        <div class="price"><sup>$</sup>129.99</div>
                        <ul class="list-info">
                            <li>PC Diagnostics</li>
                            <li>LCD Screen Repair</li>
                            <li>Memory Upgrade</li>
                            <li>Motherboard Repair</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary">Get Repair</a>
                    </div>
                </div>
                <div class="plan-container">
                    <div class="wrapper">
                        <div class="title">Tablet Repair</div>
                        <div class="period">windows</div>
                        <div class="price"><sup>$</sup>95.00</div>
                        <ul class="list-info">
                            <li>Glass/LCD Replacement</li>
                            <li>Battery Replacement</li>
                            <li>Memory Upgrade</li>
                            <li>Charge Port Repair</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary">Get Repair</a>
                    </div>
                </div>
                <div class="plan-container">
                    <div class="wrapper">
                        <div class="title">SmartPhone Repair</div>
                        <div class="period">windows</div>
                        <div class="price"><sup>$</sup>189.99</div>
                        <ul class="list-info">
                            <li>Phone Diagnostic</li>
                            <li>Battery Replacement</li>
                            <li>Data Recovery</li>
                            <li>Device Setup</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary">Get Repair</a>
                    </div>
                </div>
                <div class="plan-container">
                    <div class="wrapper">
                        <div class="title">iPhone Repair</div>
                        <div class="period">apple</div>
                        <div class="price"><sup>$</sup>255.00</div>
                        <ul class="list-info">
                            <li>Phone Diagnostic</li>
                            <li>Battery Replacement</li>
                            <li>Data Recovery</li>
                            <li>Device Setup</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary">Get Repair</a>
                    </div>
                </div>
                <div class="plan-container">
                    <div class="wrapper">
                        <div class="title">iPad Repair</div>
                        <div class="period">apple</div>
                        <div class="price"><sup>$</sup>115.29</div>
                        <ul class="list-info">
                            <li>Glass/LCD Replacement</li>
                            <li>Battery Replacement</li>
                            <li>Memory Upgrade</li>
                            <li>Charge Port Repair</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary">Get Repair</a>
                    </div>
                </div>
                <div class="plan-container">
                    <div class="wrapper">
                        <div class="title">iMac Repair</div>
                        <div class="period">apple</div>
                        <div class="price"><sup>$</sup>174.00</div>
                        <ul class="list-info">
                            <li>PC Diagnostics</li>
                            <li>LCD Screen Repair</li>
                            <li>Memory Upgrade</li>
                            <li>Motherboard Repair</li>
                        </ul>
                        <a href="" class="btn btn-block btn-primary">Get Repair</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    *******************
      	STATISTICS
    ******************* 
    -->
    <section class="section-content section-bg2">
        <div class="cicrle-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading">Our Statistics</h2>
                        <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="skill-section">
                            <div class="circle-wrapper">
                                <div class="circle-entry clearfix">
                                    <div class="circle center-block color-dark-2" data-startdegree="0"
                                         data-dimension="180"
                                         data-text="<strong class='number'>4.322</strong><div class='title-round'>Clients</div>"
                                         data-width="5" data-fontsize="17" data-percent="90" data-fgcolor="#ffc527"
                                         data-bgcolor="transparent" data-bordersize="10"></div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="skill-section">
                            <div class="circle-wrapper">
                                <div class="circle-entry clearfix">
                                    <div class="circle center-block color-dark-2" data-startdegree="0"
                                         data-dimension="180"
                                         data-text="<strong class='number'>1.510</strong><div class='title-round'>Equipment</div>"
                                         data-width="5" data-fontsize="17" data-percent="65" data-fgcolor="#ffc527"
                                         data-bgcolor="transparent" data-bordersize="10"></div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="skill-section">
                            <div class="circle-wrapper">
                                <div class="circle-entry clearfix">
                                    <div class="circle center-block color-dark-2" data-startdegree="0"
                                         data-dimension="180"
                                         data-text="<strong class='number'>311</strong><div class='title-round'>Projects</div>"
                                         data-width="5" data-fontsize="17" data-percent="30" data-fgcolor="#ffc527"
                                         data-bgcolor="transparent" data-bordersize="10"></div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="skill-section">
                            <div class="circle-wrapper">
                                <div class="circle-entry clearfix">
                                    <div class="circle center-block color-dark-2" data-startdegree="0"
                                         data-dimension="180"
                                         data-text="<strong class='number'>22</strong><div class='title-round'>Experience</div>"
                                         data-width="5" data-fontsize="17" data-percent="15" data-fgcolor="#ffc527"
                                         data-bgcolor="transparent" data-bordersize="10"></div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    *******************
      	PARTNERS 
    *******************
    -->
    <div class="container-fluid no-padding">
        <div class="clients">
            <div class="container no-padding">
                <div class="wrapper">
                    {% load static %}
                    <img src="{% static 'img/devicerepair.png' %}" alt="devicerepair" class="icon img-responsive">
                </div>
                <div class="wrapper">
                    <img src="{% static 'img/richarge.png' %}" alt="richarge" class="icon img-responsive">
                </div>
                <div class="wrapper">
                    <img src="{% static 'img/icracked.png' %}" alt="icracked" class="icon img-responsive">
                </div>
                <div class="wrapper">
                    <img src="{% static 'img/phonedoctor.png' %}" alt="phonedoctor" class="icon img-responsive">
                </div>
                <div class="wrapper">
                    <img src="{% static 'img/quickrepair.png' %}" alt="quickrepair" class="icon img-responsive">
                </div>
            </div>
        </div>
    </div>
    <!-- 
    *******************
      	CLIENTS
    *******************
    -->
    <section class="section-content">
        <div class="clients-h">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="group-wrap">
                            <div class="wrapper wrap-info active">
                                <div class="testimonial">
                                    <h3 class="heading">Gavin White</h3>
                                    <div class="subheading">♡ happy client</div>
                                    <div class="text">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. <br class="hidden-xs hidden-sm"> Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                        laborum.
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper wrap-info">
                                <div class="testimonial">
                                    <h3 class="heading">Matt Fan</h3>
                                    <div class="subheading">♡ happy client</div>
                                    <div class="text">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. <br class="hidden-xs hidden-sm"> Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                        laborum.
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper wrap-info">
                                <div class="testimonial">
                                    <h3 class="heading">Max Black</h3>
                                    <div class="subheading">♡ happy client</div>
                                    <div class="text">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. <br class="hidden-xs hidden-sm">Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                        laborum.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clients-slider">
                            <div class="slider-container slider-filter">
                                <div class="slider-wrap">
                                    <div class="swiper-container main-slider testimonials-slider" data-autoplay="0"
                                         data-touch="0" data-mouse="0" data-slides-per-view="responsive" data-loop="0"
                                         data-speed="1200" data-mode="horizontal" data-xs-slides="3" data-sm-slides="3"
                                         data-md-slides="3" data-lg-slides="3" data-center="1">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide img-person default-active">
                                                <img src="{% static 'img/client-01.jpg' %}" alt="photo"
                                                     class="img-responsive">
                                            </div>
                                            <div class="swiper-slide img-person">
                                                <img src="{% static 'img/client-03.jpg' %}" alt="photo"
                                                     class="img-responsive">
                                            </div>
                                            <div class="swiper-slide img-person">
                                                <img src="{% static 'img/client-02.jpg' %}" alt="photo"
                                                     class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="pagination hidden horizontal-mode pagination-index"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    *******************
      COLUMN FOOTER
    ******************* 
    -->
    <div class="column-support-container">
        <div class="container">
            <div class="column-support-inner">
                <div class="column-support-content">
                    <div class="column-support-txt">
                        <div class="column-support-title">Have Any Questions !</div>
                        <div class="column-support-subtitle">Do you need a support or repair your device?</div>
                    </div>
                    <div class="column-support-button">
                        <a href="{% url 'contact' %}" class=" btn">Contact Us</a>`
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}