{% extends 'base.html' %}

{% block title %}TechTuneUp - Computer and Mobile Repair{% endblock %}

{% block content %}
    <!-- 
    *******************
          SLIDER  
    *******************
    -->
    <div id="owl-demo" class="owl-carousel">
        <div class="full overlay item1">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="top-banner modern">
                        <div class="container">
                            <div class="banner-wrap">
                                <h1 class="heading">Tech Tune Up</h1>
                                <h2 class="subheading left">Repair, Web Development, and other Tech Services.</h2>
                            </div>
                            <a href="{% url 'all_services' %}" class="btn btn-default-alt-yellow">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full overlay item2">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="top-banner modern">
                        <div class="container">
                            <div class="banner-wrap">
                                <h1 class="heading">PC & Mobile Repair and Upgrades</h1>
                                <h3 class="subheading left">We can repair and replace broken components and improve
                                    performance.</h3>
                            </div>
                            <a href="{% url 'repair_services' %}" class="btn btn-default-alt-yellow">Repair Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full overlay item3">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="top-banner modern">
                        <div class="container">
                            <div class="banner-wrap">
                                <h1 class="heading">Web & Mobile Development</h1>
                                <h3 class="subheading left">We create custom web and mobile applications.</h3>
                            </div>
                            <a href="{% url 'app_dev' %}" class="btn btn-default-alt-yellow">Application Development
                                Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full overlay item4">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="top-banner modern">
                        <div class="container">
                            <div class="banner-wrap">
                                <h1 class="heading">Technology Supply</h1>
                                <h3 class="subheading left">We supply small to medium-sized businesses with the
                                    technology needed to support a business.
                                    Plus, as we are an official Lenovo re-seller, we can get you great deals.</h3>
                            </div>
                            <a href="{% url 'tech_services' %}" class="btn btn-default-alt-yellow">Other Tech
                                Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 
    *******************
        SUPPORT BAR   
    *******************
    -->
    <div class="support-bar home">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <p>Support 7 days a week.</p>
                    <div class="title">Do you need a support or repair for your technology?</div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <button class="btn btn-block btn-default-alt-white"><a href="{% url 'contact' %}">Contact Us</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/repair-services.html' %}
    {% include 'includes/development-services.html' %}
    {% include 'includes/technology-services.html' %}
    {% include 'includes/features.html' %}
    {% include 'includes/included-services.html' %}

    <!-- 
    *******************
      COLUMN FOOTER
    ******************* 
    -->
    <div class="column-support-container">
        <div class="container">
            <div class="column-support-inner">
                <div class="column-support-content">
                    <div class="column-support-txt">
                        <div class="column-support-title">Have Any Questions?</div>
                        <div class="column-support-subtitle">Feel free to reach out if you are interested in our
                            services
                        </div>
                    </div>
                    <div class="column-support-button">
                        <a href="{% url 'contact' %}" class=" btn">Contact Us</a>`
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}