{% extends 'base.html' %}

{% block meta_content %}Computer Repair, Mobile Repair, Website Development{% endblock %}

{% block title %}TechTuneUp - Computer and Mobile Repair{% endblock %}

{% block content %}
    <!-- 
    *******************
          SLIDER  
    *******************
    -->
    <div id="owl-demo" class="owl-carousel">
        <div class="full overlay item1">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="top-banner modern">
                        <div class="container">
                            <div class="banner-wrap">
                                <h1 class="heading">Tech Tune Up</h1>
                                <h2 class="subheading left">Computer Repair, iPhone Repair, and other Technology
                                    Services.</h2>
                            </div>
                            <a href="{% url 'services' %}" class="btn btn-default-alt-yellow">Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full overlay item2">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="top-banner modern">
                        <div class="container">
                            <div class="banner-wrap">
                                <h2 class="heading">PC & Mobile Repair and Upgrades</h2>
                                <h3 class="subheading left">We can repair and replace broken components and improve
                                    performance.</h3>
                            </div>
                            <a href="{% url 'repair_services' %}" class="btn btn-default-alt-yellow">Repair Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full overlay item3">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="top-banner modern">
                        <div class="container">
                            <div class="banner-wrap">
                                <h2 class="heading">Website Development</h2>
                                <h3 class="subheading left">.</h3>
                            </div>
                            <a href="{% url 'app_dev' %}" class="btn btn-default-alt-yellow">More About Website Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full overlay item4">
            <div class="vc-parent">
                <div class="vc-child">
                    <div class="top-banner modern">
                        <div class="container">
                            <div class="banner-wrap">
                                <h1 class="heading">Technology Supply</h1>
                                <h3 class="subheading left">We supply small to medium-sized businesses with the
                                    technology needed to support a business.
                                    Plus, as we are an official Lenovo re-seller, we can get you great deals.</h3>
                            </div>
                            <a href="{% url 'tech_services' %}" class="btn btn-default-alt-yellow">Other Tech
                                Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center" id="homepage-description">
        <h1 class="section-heading">Tech Tune Up</h1>
        <p class="section-subheading">Tech Tune Up provides a wide variety of technology services in Raleigh, Rolesville, and
            Wake Forest. We offer computer repair, iphone & android repair, website development, and more.</p>
    </div>
{% comment %}
    {% include 'includes/repair-services.html' %}
    {% include 'includes/website-services.html' %}
    {% include 'includes/technology-services.html' %}
    {% include 'includes/features.html' %}
    {% include 'includes/included-services.html' %}
{% endcomment %}

{% endblock %}