{% extends 'base.html' %}
{% block title %}<title>Login</title>{% endblock %}
{% block content %}

    {% include 'includes/top-banner.html' %}
    
    <!--
    *******************
          LOGIN
    *******************
    -->
    <div id="mylogin">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="login-form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="wrapper">
                                <h3 class="title"><i class="fa fa-lock"></i> Log in</h3>
                                <div class="subtitle">Access Tech Tune Up Area area</div>
                                <input type="text" name="username" placeholder="Primary Email" class="field" required>
                                <input type="password" name="password" placeholder="Password" class="field" required>
                                <input type="submit" class="btn btn-block btn-primary" value="log in">
                                <label class="label-form"><input type="checkbox" class="btn-check">Remember me</label>
                                <a href="" class="link">Forgot my password</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}