<!--
    *******************
      	PARTNERS
    *******************
    -->
<div class="container-fluid no-padding">
    <div class="clients">
        <div class="container no-padding">
            <div class="wrapper">
                {% load static %}
                <img src="{% static 'img/devicerepair.png' %}" alt="devicerepair" class="icon img-responsive">
            </div>
            <div class="wrapper">
                <img src="{% static 'img/richarge.png' %}" alt="richarge" class="icon img-responsive">
            </div>
            <div class="wrapper">
                <img src="{% static 'img/icracked.png' %}" alt="icracked" class="icon img-responsive">
            </div>
            <div class="wrapper">
                <img src="{% static 'img/phonedoctor.png' %}" alt="phonedoctor" class="icon img-responsive">
            </div>
            <div class="wrapper">
                <img src="{% static 'img/quickrepair.png' %}" alt="quickrepair" class="icon img-responsive">
            </div>
        </div>
    </div>
</div>