{% extends 'base.html' %}

{% block title %}Pricing Tables{% endblock %}

{% block content %}

    {% include 'includes/top_banner.html' %}

    <!--
    *******************
      PRICING TABLES
    *******************
    -->
    <section class="section-content">
        <div class="pricing special">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading">Select Your Best Plan</h2>
                        <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="wrapper first">
                            <i class="fa fa-desktop"></i>
                            <div class="title">iMac Repair</div>
                            <div class="period">apple</div>
                            <div class="price"><sup>$</sup>123.99</div>
                            <ul class="list-info">
                                <li>PC Diagnostics</li>
                                <li>LCD Screen Repair</li>
                                <li>Memory Upgrade</li>
                                <li>Motherboard Repair</li>
                            </ul>
                            <a href="" class="btn btn-default">Get Repair</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wrapper active">
                            <i class="fa fa-mobile-phone"></i>
                            <div class="title">Smartphone Repair</div>
                            <div class="period">windows</div>
                            <div class="price"><sup>$</sup>135.00</div>
                            <ul class="list-info">
                                <li>Phone Diagnostic</li>
                                <li>Battery Replacement</li>
                                <li>Data Recovery</li>
                                <li>Device Setup</li>
                            </ul>
                            <a href="" class="btn btn-default">Get Repair</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wrapper third">
                            <i class="fa fa-tablet"></i>
                            <div class="title">Tablet Repair</div>
                            <div class="period">windows</div>
                            <div class="price"><sup>$</sup>109.99</div>
                            <ul class="list-info">
                                <li>Glass/LCD Replacement</li>
                                <li>Battery Replacement</li>
                                <li>Memory Upgrade</li>
                                <li>Charge Port Repair</li>
                            </ul>
                            <a href="" class="btn btn-default">Get Repair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}