{% extends 'base.html' %}
{% block content %}
    <!-- 
    *******************
        REGISTER  
    *******************
    -->
    <section class="section-content">
        <div class="register">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <form action="#" class="comments-form light">
                            <div class="title-form">Existing Customer</div>
                            <div class="subtitle">Please login to access myTechFix area.</div>
                            <input type="text" name="username" placeholder="Primary Email" class="input" required>
                            <input type="password" name="password" placeholder="Password" class="input password"
                                   required>
                            <input type="submit" class="btn btn-block btn-primary" value="log in">
                            <div class="check-forgot">
                                <label class="label-form"><input type="checkbox" class="btn-check">Remember
                                    me</label><br class="visible-xs-mobile">
                                <a href="" class="link">Forgot my password</a>
                            </div>
                            <div class="subtitle">You can log in by using your Facebook or Twitter accounts.</div>

                            <div class="social">
                                <a class="btn-social btn-facebook"><i class="fa fa-facebook"></i> Log in with
                                    Facebook</a>
                                <a class="btn-social btn-twitter"> <i class="fa fa-twitter"></i> Log in with Twitter</a>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-6">
                        <form action="#" class="comments-form light down">
                            <div class="title-form">New Customer</div>
                            <div class="subtitle">Registering for your account with Tech Fix is free, quick and easy.
                            </div>
                            <input type="text" name="username" placeholder="Enter Username" class="input" required>
                            <input type="password" name="password" placeholder="Enter Password" class="input" required>
                            <input type="password" name="repeatpassword" placeholder="Re-Enter Password" class="input"
                                   value="" required>
                            <input type="email" name="email" placeholder="Enter Your E-mail" class="input email"
                                   required>
                            <div class="text-right text-xs-left">
                                <input type="submit" class="btn btn-block btn-primary" value="sign up">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}