<!--
    *******************
      	STATISTICS
    *******************
    -->
<section class="section-content section-bg2">
    <div class="cicrle-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">Our Statistics</h2>
                    <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="skill-section">
                        <div class="circle-wrapper">
                            <div class="circle-entry clearfix">
                                <div class="circle center-block color-dark-2" data-startdegree="0"
                                     data-dimension="180"
                                     data-text="<strong class='number'>4.322</strong><div class='title-round'>Clients</div>"
                                     data-width="5" data-fontsize="17" data-percent="90" data-fgcolor="#ffc527"
                                     data-bgcolor="transparent" data-bordersize="10"></div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="skill-section">
                        <div class="circle-wrapper">
                            <div class="circle-entry clearfix">
                                <div class="circle center-block color-dark-2" data-startdegree="0"
                                     data-dimension="180"
                                     data-text="<strong class='number'>1.510</strong><div class='title-round'>Equipment</div>"
                                     data-width="5" data-fontsize="17" data-percent="65" data-fgcolor="#ffc527"
                                     data-bgcolor="transparent" data-bordersize="10"></div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="skill-section">
                        <div class="circle-wrapper">
                            <div class="circle-entry clearfix">
                                <div class="circle center-block color-dark-2" data-startdegree="0"
                                     data-dimension="180"
                                     data-text="<strong class='number'>311</strong><div class='title-round'>Projects</div>"
                                     data-width="5" data-fontsize="17" data-percent="30" data-fgcolor="#ffc527"
                                     data-bgcolor="transparent" data-bordersize="10"></div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="skill-section">
                        <div class="circle-wrapper">
                            <div class="circle-entry clearfix">
                                <div class="circle center-block color-dark-2" data-startdegree="0"
                                     data-dimension="180"
                                     data-text="<strong class='number'>22</strong><div class='title-round'>Experience</div>"
                                     data-width="5" data-fontsize="17" data-percent="15" data-fgcolor="#ffc527"
                                     data-bgcolor="transparent" data-bordersize="10"></div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>