{% extends 'base.html' %}
{% block content %}

    {% include 'includes/top-banner.html' %}
    <!--
    *******************
      TEAM STYLE 03
    *******************
    -->
    {% load static %}
    <section class="section-content">
        <div class="team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2 class="section-heading">About</h2>
                        <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="wrapper">
                            <div class="img-section">
                                <img src="{% static 'img/team01.jpg' %}" alt="team" class="img-responsive">
                                <div class="soc-icons-wrap">
                                    <div class="icons">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-skype"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-info">
                                <h3 class="heading">Ben</h3>
                                <div class="subheading">Founder</div>
                                <div class="desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="wrapper">
                            <div class="img-section">
                                <img src="{% static 'img/team02.jpg' %}" alt="team" class="img-responsive">
                                <div class="soc-icons-wrap">
                                    <div class="icons">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-skype"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-info">
                                <h3 class="heading">Charles</h3>
                                <div class="subheading">Service Manager</div>
                                <div class="desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="wrapper">
                            <div class="img-section">
                                <img src="{% static 'img/team03.jpg' %}" alt="team" class="img-responsive">
                                <div class="soc-icons-wrap">
                                    <div class="icons">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-skype"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-info">
                                <h3 class="heading">Olivia</h3>
                                <div class="subheading">Technical Support</div>
                                <div class="desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="wrapper">
                            <div class="img-section">
                                <img src="{% static 'img/team04.jpg' %}" alt="team" class="img-responsive">
                                <div class="soc-icons-wrap">
                                    <div class="icons">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-google-plus"></i></a>
                                        <a href=""><i class="fa fa-skype"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-info">
                                <h3 class="heading">Christian</h3>
                                <div class="subheading">Marketing Associate</div>
                                <div class="desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}